In [1]:
!pip install aif360

Collecting aif360
  Downloading aif360-0.6.1-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: numpy>=1.16 in /usr/local/lib/python3.10/dist-packages (from aif360) (1.26.4)
Requirement already satisfied: scipy>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from aif360) (1.13.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.10/dist-packages (from aif360) (2.2.2)
Requirement already satisfied: scikit-learn>=1.0 in /usr/local/lib/python3.10/dist-packages (from aif360) (1.5.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from aif360) (3.8.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24.0->aif360) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24.0->aif360) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24.0->aif360) (2024.2)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=1.0->aif360) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=1.0->aif360) (3.5.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->aif360) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->aif360) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->aif360) (4.54.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->aif360) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->aif360) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->aif360) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->aif360) (3.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=0.24.0->aif360) (1.16.0)
Downloading aif360-0.6.1-py3-none-any.whl (259 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 259.7/259.7 kB 3.3 MB/s eta 0:00:00
Installing collected packages: aif360
Successfully installed aif360-0.6.1

In [2]:
!pip install aif360 scikit-learn matplotlib tqdm

Requirement already satisfied: aif360 in /usr/local/lib/python3.10/dist-packages (0.6.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.5.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (3.8.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (4.66.6)
Requirement already satisfied: numpy>=1.16 in /usr/local/lib/python3.10/dist-packages (from aif360) (1.26.4)
Requirement already satisfied: scipy>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from aif360) (1.13.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.10/dist-packages (from aif360) (2.2.2)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (4.54.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24.0->aif360) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24.0->aif360) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [3]:

import sys
sys.path.append("../")
import numpy as np
from tqdm import tqdm
import pandas as pd
np.random.seed(1)

from aif360.datasets import BinaryLabelDataset
from aif360.datasets import AdultDataset
from aif360.metrics import BinaryLabelDatasetMetric
from aif360.algorithms.preprocessing.reweighing import Reweighing

WARNING:root:No module named 'fairlearn': ExponentiatedGradientReduction will be unavailable. To install, run:
pip install 'aif360[Reductions]'
WARNING:root:No module named 'fairlearn': GridSearchReduction will be unavailable. To install, run:
pip install 'aif360[Reductions]'
WARNING:root:No module named 'inFairness': SenSeI and SenSR will be unavailable. To install, run:
pip install 'aif360[inFairness]'
WARNING:root:No module named 'fairlearn': GridSearchReduction will be unavailable. To install, run:
pip install 'aif360[Reductions]'

In [4]:
import os

# Create directories if they don't exist
os.makedirs('/usr/local/lib/python3.10/dist-packages/aif360/data/raw/adult', exist_ok=True)

# Download the necessary files
!wget -P /usr/local/lib/python3.10/dist-packages/aif360/data/raw/adult https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
!wget -P /usr/local/lib/python3.10/dist-packages/aif360/data/raw/adult https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.test
!wget -P /usr/local/lib/python3.10/dist-packages/aif360/data/raw/adult https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names

--2024-11-06 12:55:24--  https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified
Saving to: ‘/usr/local/lib/python3.10/dist-packages/aif360/data/raw/adult/adult.data’

adult.data              [   <=>              ]   3.79M  7.21MB/s    in 0.5s

2024-11-06 12:55:24 (7.21 MB/s) - ‘/usr/local/lib/python3.10/dist-packages/aif360/data/raw/adult/adult.data’ saved [3974305]

--2024-11-06 12:55:25--  https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.test
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified
Saving to: ‘/usr/local/lib/python3.10/dist-packages/aif360/data/raw/adult/adult.test’

adult.test              [   <=>              ]   1.91M  4.20MB/s    in 0.5s

2024-11-06 12:55:25 (4.20 MB/s) - ‘/usr/local/lib/python3.10/dist-packages/aif360/data/raw/adult/adult.test’ saved [2003153]

--2024-11-06 12:55:25--  https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified
Saving to: ‘/usr/local/lib/python3.10/dist-packages/aif360/data/raw/adult/adult.names’

adult.names             [ <=>                ]   5.11K  --.-KB/s    in 0s

2024-11-06 12:55:26 (55.8 MB/s) - ‘/usr/local/lib/python3.10/dist-packages/aif360/data/raw/adult/adult.names’ saved [5229]

In [5]:
original_dataset = AdultDataset()
df = pd.DataFrame(original_dataset.features, columns=original_dataset.feature_names)
df

WARNING:root:Missing Data: 3620 rows removed from AdultDataset.

,age,education-num,race,sex,capital-gain,capital-loss,hours-per-week,workclass=Federal-gov,workclass=Local-gov,workclass=Private,...,native-country=Portugal,native-country=Puerto-Rico,native-country=Scotland,native-country=South,native-country=Taiwan,native-country=Thailand,native-country=Trinadad&Tobago,native-country=United-States,native-country=Vietnam,native-country=Yugoslavia
0,25.0,7.0,0.0,1.0,0.0,0.0,40.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,38.0,9.0,1.0,1.0,0.0,0.0,50.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,28.0,12.0,1.0,1.0,0.0,0.0,40.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,44.0,10.0,0.0,1.0,7688.0,0.0,40.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,34.0,6.0,1.0,1.0,0.0,0.0,30.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45217,27.0,12.0,1.0,0.0,0.0,0.0,38.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
45218,40.0,9.0,1.0,1.0,0.0,0.0,40.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
45219,58.0,9.0,1.0,0.0,0.0,0.0,40.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
45220,22.0,9.0,1.0,1.0,0.0,0.0,20.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
45221,52.0,9.0,1.0,0.0,15024.0,0.0,40.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [6]:
original_dataset.feature_names

['age',
 'education-num',
 'race',
 'sex',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'workclass=Federal-gov',
 'workclass=Local-gov',
 'workclass=Private',
 'workclass=Self-emp-inc',
 'workclass=Self-emp-not-inc',
 'workclass=State-gov',
 'workclass=Without-pay',
 'education=10th',
 'education=11th',
 'education=12th',
 'education=1st-4th',
 'education=5th-6th',
 'education=7th-8th',
 'education=9th',
 'education=Assoc-acdm',
 'education=Assoc-voc',
 'education=Bachelors',
 'education=Doctorate',
 'education=HS-grad',
 'education=Masters',
 'education=Preschool',
 'education=Prof-school',
 'education=Some-college',
 'marital-status=Divorced',
 'marital-status=Married-AF-spouse',
 'marital-status=Married-civ-spouse',
 'marital-status=Married-spouse-absent',
 'marital-status=Never-married',
 'marital-status=Separated',
 'marital-status=Widowed',
 'occupation=Adm-clerical',
 'occupation=Armed-Forces',
 'occupation=Craft-repair',
 'occupation=Exec-managerial',
 'occupation=Farming-fishing',
 'occupation=Handlers-cleaners',
 'occupation=Machine-op-inspct',
 'occupation=Other-service',
 'occupation=Priv-house-serv',
 'occupation=Prof-specialty',
 'occupation=Protective-serv',
 'occupation=Sales',
 'occupation=Tech-support',
 'occupation=Transport-moving',
 'relationship=Husband',
 'relationship=Not-in-family',
 'relationship=Other-relative',
 'relationship=Own-child',
 'relationship=Unmarried',
 'relationship=Wife',
 'native-country=Cambodia',
 'native-country=Canada',
 'native-country=China',
 'native-country=Columbia',
 'native-country=Cuba',
 'native-country=Dominican-Republic',
 'native-country=Ecuador',
 'native-country=El-Salvador',
 'native-country=England',
 'native-country=France',
 'native-country=Germany',
 'native-country=Greece',
 'native-country=Guatemala',
 'native-country=Haiti',
 'native-country=Holand-Netherlands',
 'native-country=Honduras',
 'native-country=Hong',
 'native-country=Hungary',
 'native-country=India',
 'native-country=Iran',
 'native-country=Ireland',
 'native-country=Italy',
 'native-country=Jamaica',
 'native-country=Japan',
 'native-country=Laos',
 'native-country=Mexico',
 'native-country=Nicaragua',
 'native-country=Outlying-US(Guam-USVI-etc)',
 'native-country=Peru',
 'native-country=Philippines',
 'native-country=Poland',
 'native-country=Portugal',
 'native-country=Puerto-Rico',
 'native-country=Scotland',
 'native-country=South',
 'native-country=Taiwan',
 'native-country=Thailand',
 'native-country=Trinadad&Tobago',
 'native-country=United-States',
 'native-country=Vietnam',
 'native-country=Yugoslavia']

#this code is only for the dataset adult, I should change this if I want to make it work for other datasets

Preprocessing  from https://github.com/Trusted-AI/AIF360/blob/main/aif360/algorithms/preprocessing/optim_preproc_helpers/data_preproc_functions.py

In [7]:
def load_preproc_data_adult(protected_attributes=None, sub_samp=False, balance=False):
    def custom_preprocessing(df):
        """The custom pre-processing function is adapted from
            https://github.com/fair-preprocessing/nips2017/blob/master/Adult/code/Generate_Adult_Data.ipynb
            If sub_samp != False, then return smaller version of dataset truncated to tiny_test data points.
        """

        # Group age by decade
        df['Age (decade)'] = df['age'].apply(lambda x: x//10*10) #rounds the age values to the nearest decade. so 23->20

        def group_edu(x): #this function replaces with <6 or >12 all the other years
            if x <= 5:
                return '<6'
            elif x >= 13:
                return '>12'
            else:
                return x

        def age_cut(x): #cuts the age a 70
            if x >= 70:
                return '>=70'
            else:
                return x

        def group_race(x): #white is the privileged group because we mark it with 1
            if x == "White":
                return 1.0
            else:
                return 0.0

        # Cluster education and age attributes.
        # Limit education range
        df['Education Years'] = df['education-num'].apply(lambda x: group_edu(x))
        df['Education Years'] = df['Education Years'].astype('category') #onverts Education Years to a categorical data type, which saves memory and can help in analysis by treating each unique value as a category.

        # Limit age range
        df['Age (decade)'] = df['Age (decade)'].apply(lambda x: age_cut(x))

        # Rename income variable
        df['Income Binary'] = df['income-per-year']
        df['Income Binary'] = df['Income Binary'].replace(to_replace='>50K.', value='>50K', regex=True)
        df['Income Binary'] = df['Income Binary'].replace(to_replace='<=50K.', value='<=50K', regex=True)

        # Recode sex and race
        df['sex'] = df['sex'].replace({'Female': 0.0, 'Male': 1.0})  #male=1, female=0
        df['race'] = df['race'].apply(lambda x: group_race(x))       #white=1, nonwhite=0
#creates a smaller version of the dataset
        if sub_samp and not balance:
            df = df.sample(sub_samp)
        if sub_samp and balance:
            df_0 = df[df['Income Binary'] == '<=50K']
            df_1 = df[df['Income Binary'] == '>50K']
            df_0 = df_0.sample(int(sub_samp/2))
            df_1 = df_1.sample(int(sub_samp/2))
            df = pd.concat([df_0, df_1])
        return df

    XD_features = ['Age (decade)', 'Education Years', 'sex', 'race'] #features of interest
    D_features = ['sex', 'race'] if protected_attributes is None else protected_attributes #protected attributes
    Y_features = ['Income Binary'] #target variable
    X_features = list(set(XD_features)-set(D_features)) #features without including protected attributes
    categorical_features = ['Age (decade)', 'Education Years'] #because we should treat them as categorical, not as numerical(continous)

    # privileged classes
    all_privileged_classes = {"sex": [1.0], #male
                              "race": [1.0]} #white

    # protected attribute maps
    all_protected_attribute_maps = {"sex": {1.0: 'Male', 0.0: 'Female'},
                                    "race": {1.0: 'White', 0.0: 'Non-white'}}

    return AdultDataset(
        label_name=Y_features[0], #income binary <50k, >50k
        favorable_classes=['>50K', '>50K.'], #classes that are favorable
        protected_attribute_names=D_features,
        privileged_classes=[all_privileged_classes[x] for x in D_features],
        instance_weights_name=None, #all samples are treated equally without weighting
        categorical_features=categorical_features,
        features_to_keep=X_features+Y_features+D_features, #nonProtectedAttributes+targetVariable+protectedAttributes (so pretty much XD_features + target variable )
        na_values=['?'], #any '?' values in the dataset will be treated as NaN or missing values.
        metadata={'label_maps': [{1.0: '>50K', 0.0: '<=50K'}], #maps the target variables to binary 1(>50k) and 0
                  'protected_attribute_maps': [all_protected_attribute_maps[x] #maps protected attributes to 1(sex=male, race=white) and 0
                                for x in D_features]},
        custom_preprocessing=custom_preprocessing) #custom function to make all the necessary transformations before loading it into AdultDataset format

In [8]:
privileged_group = [{'sex': 1}]
unprivileged_group = [{'sex': 0}]
preprocessed_dataset = load_preproc_data_adult(['sex'])

<ipython-input-7-eac6a6e7b58d>:45: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['sex'] = df['sex'].replace({'Female': 0.0, 'Male': 1.0})  #male=1, female=0

After preprocessing Adult dataset

label: This column represents the target variable or outcome of the dataset, indicating whether the individual's income is above or below a certain threshold (e.g., >50K or <=50K).


protected: This column is a binary indicator showing whether the individual belongs to a privileged or unprivileged group based on protected attributes, such as race or sex. (we used protected attribute = sex, so 1 would mean male and 0 would mean female)

In [9]:

# Convert to a Pandas DataFrame
df = pd.DataFrame(data=preprocessed_dataset.features, columns=preprocessed_dataset.feature_names)
df['label'] = preprocessed_dataset.labels  # Add the label column
df['protected'] = preprocessed_dataset.protected_attributes[:, 0]  # Add the protected attribute (e.g., 'sex' or 'race')

# Display the first few rows
df.head()

,race,sex,Age (decade)=10,Age (decade)=20,Age (decade)=30,Age (decade)=40,Age (decade)=50,Age (decade)=60,Age (decade)=>=70,Education Years=6,Education Years=7,Education Years=8,Education Years=9,Education Years=10,Education Years=11,Education Years=12,Education Years=<6,Education Years=>12,label,protected
0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
3,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
4,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
# Check data types and null values
print(df.info())

# Summary statistics for numerical columns
print(df.describe())

# Count of each label (e.g., income level)
print(df['label'].value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   race                 48842 non-null  float64
 1   sex                  48842 non-null  float64
 2   Age (decade)=10      48842 non-null  float64
 3   Age (decade)=20      48842 non-null  float64
 4   Age (decade)=30      48842 non-null  float64
 5   Age (decade)=40      48842 non-null  float64
 6   Age (decade)=50      48842 non-null  float64
 7   Age (decade)=60      48842 non-null  float64
 8   Age (decade)=>=70    48842 non-null  float64
 9   Education Years=6    48842 non-null  float64
 10  Education Years=7    48842 non-null  float64
 11  Education Years=8    48842 non-null  float64
 12  Education Years=9    48842 non-null  float64
 13  Education Years=10   48842 non-null  float64
 14  Education Years=11   48842 non-null  float64
 15  Education Years=12   48842 non-null  float64
 16  Education Years=<6   48842 non-null  float64
 17  Education Years=>12  48842 non-null  float64
 18  label                48842 non-null  float64
 19  protected            48842 non-null  float64
dtypes: float64(20)
memory usage: 7.5 MB
None
               race           sex  Age (decade)=10  Age (decade)=20  \
count  48842.000000  48842.000000     48842.000000     48842.000000
mean       0.855043      0.668482         0.051390         0.245793
std        0.352061      0.470764         0.220795         0.430561
min        0.000000      0.000000         0.000000         0.000000
25%        1.000000      0.000000         0.000000         0.000000
50%        1.000000      1.000000         0.000000         0.000000
75%        1.000000      1.000000         0.000000         0.000000
max        1.000000      1.000000         1.000000         1.000000

       Age (decade)=30  Age (decade)=40  Age (decade)=50  Age (decade)=60  \
count     48842.000000     48842.000000     48842.000000     48842.000000
mean          0.264711         0.219565         0.135519         0.062528
std           0.441184         0.413956         0.342280         0.242115
min           0.000000         0.000000         0.000000         0.000000
25%           0.000000         0.000000         0.000000         0.000000
50%           0.000000         0.000000         0.000000         0.000000
75%           1.000000         0.000000         0.000000         0.000000
max           1.000000         1.000000         1.000000         1.000000

       Age (decade)=>=70  Education Years=6  Education Years=7  \
count       48842.000000       48842.000000       48842.000000
mean            0.020495           0.028439           0.037099
std             0.141686           0.166224           0.189007
min             0.000000           0.000000           0.000000
25%             0.000000           0.000000           0.000000
50%             0.000000           0.000000           0.000000
75%             0.000000           0.000000           0.000000
max             1.000000           1.000000           1.000000

       Education Years=8  Education Years=9  Education Years=10  \
count       48842.000000       48842.000000        48842.000000
mean            0.013452           0.323164            0.222718
std             0.115199           0.467690            0.416075
min             0.000000           0.000000            0.000000
25%             0.000000           0.000000            0.000000
50%             0.000000           0.000000            0.000000
75%             0.000000           1.000000            0.000000
max             1.000000           1.000000            1.000000

       Education Years=11  Education Years=12  Education Years=<6  \
count        48842.000000        48842.000000        48842.000000
mean             0.042197            0.032779            0.052209
std              0.201041            0.178060            0.222451
min              0.000000            0.000000            0.000000
25%              0.000000            0.000000            0.000000
50%              0.000000            0.000000            0.000000
75%              0.000000            0.000000            0.000000
max              1.000000            1.000000            1.000000

       Education Years=>12         label     protected
count         48842.000000  48842.000000  48842.000000
mean              0.247942      0.239282      0.668482
std               0.431823      0.426649      0.470764
min               0.000000      0.000000      0.000000
25%               0.000000      0.000000      0.000000
50%               0.000000      0.000000      1.000000
75%               0.000000      0.000000      1.000000
max               1.000000      1.000000      1.000000
label
0.0    37155
1.0    11687
Name: count, dtype: int64

Comments:
- Race: 0 = non-white, 1 = white
- Sex:  0 = female,    1 = male
- Age (decade)= 10: person is in their 10s
- Age (decade)= 20: person is in their 20s
- Age (decade)= 30: person is in their 30s
..
- Education Years = 6: person has finishes 6 years of education
..

Mean:

For example:
race mean of 0.855 suggests about 85.5% of entries have a value of 1,  indicating that 85.5% of individuals are from a privileged race group (e.g., White).

Standard Deviation (std):

std indicates the spread or variability of the values in each column.
For binary columns, a higher standard deviation (closer to 0.5) suggests a more balanced distribution between 0 and 1. A lower standard deviation indicates one value (either 0 or 1) dominates.

The mean (0.855) indicates that 85.5% of the entries in race are 1 (privileged), meaning that 1 is indeed the dominant category.

In a binary variable:
A standard deviation close to 0.5 would suggest a more balanced distribution (closer to 50% for both categories).
A standard deviation lower than 0.5, like 0.35, implies less variability and suggests that the data points are clustered around one value more than the other.

In short:

Mean tells us which value is more common (in this case, 1).
Standard deviation tells us how tightly the data is clustered around the mean (0.855), confirming that there’s a dominant category with little spread.


Percentiles Interpretation:

25% (0.0): The 25th percentile is 0, meaning that at least 25% of the values in this column are 0 (Female).


50% (1.0): The 50th percentile (or median) is 1, which means that at least 50% of the values are 1 (Male). This suggests that Males are the majority in the dataset.


75% (1.0): The 75th percentile is also 1, indicating that at least 75% of the upper values are 1 (Male).

In [11]:
train_dataset, val_test_dataset = preprocessed_dataset.split([0.7], shuffle=True)
val_dataset, test_dataset = val_test_dataset.split([0.5], shuffle=True)

In [12]:
#check attributes of the dataset

dir(train_dataset)

['__abstractmethods__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__slotnames__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_impl',
 '_de_dummy_code_df',
 '_parse_feature_names',
 'align_datasets',
 'convert_to_dataframe',
 'copy',
 'export_dataset',
 'favorable_label',
 'feature_names',
 'features',
 'ignore_fields',
 'import_dataset',
 'instance_names',
 'instance_weights',
 'label_names',
 'labels',
 'metadata',
 'privileged_protected_attributes',
 'protected_attribute_names',
 'protected_attributes',
 'scores',
 'split',
 'subset',
 'temporarily_ignore',
 'unfavorable_label',
 'unprivileged_protected_attributes',
 'validate_dataset']

In [13]:
# Print general metadata and attributes about the dataset

print(" - Favorable Label:", preprocessed_dataset.favorable_label)
print(" - Unfavorable Label:", preprocessed_dataset.unfavorable_label)
print(" - Feature Names:", preprocessed_dataset.feature_names)
print(" - Protected Attribute Names:", preprocessed_dataset.protected_attribute_names)
print(" - Privileged Protected Attributes:", preprocessed_dataset.privileged_protected_attributes)
print(" - Unprivileged Protected Attributes:", preprocessed_dataset.unprivileged_protected_attributes)
print(" - Label Names:", preprocessed_dataset.label_names)
print(" - Training Dataset Shape:", preprocessed_dataset.features.shape)

 - Favorable Label: 1.0
 - Unfavorable Label: 0.0
 - Feature Names: ['race', 'sex', 'Age (decade)=10', 'Age (decade)=20', 'Age (decade)=30', 'Age (decade)=40', 'Age (decade)=50', 'Age (decade)=60', 'Age (decade)=>=70', 'Education Years=6', 'Education Years=7', 'Education Years=8', 'Education Years=9', 'Education Years=10', 'Education Years=11', 'Education Years=12', 'Education Years=<6', 'Education Years=>12']
 - Protected Attribute Names: ['sex']
 - Privileged Protected Attributes: [array([1.])]
 - Unprivileged Protected Attributes: [array([0.])]
 - Label Names: ['Income Binary']
 - Training Dataset Shape: (48842, 18)

**Measuring Bias**

In [14]:
metric_train_dataset = BinaryLabelDatasetMetric(train_dataset,
                                             unprivileged_groups=unprivileged_group,
                                             privileged_groups=privileged_group)

In [15]:
print("The difference in mean outcomes (statistical parity difference) between unprivileged and privileged group = %f" % metric_train_dataset.mean_difference())

The difference in mean outcomes (statistical parity difference) between unprivileged and privileged group = -0.190244

metric_orig_train.mean_difference() calculates the difference in mean outcomes (also known as statistical parity difference) between the unprivileged and privileged groups.

This metric provides an indication of disparity in favorable outcomes (e.g., high income) between the two groups.

Using this formula, the negative value suggests that:

The probability of a favorable outcome (such as >50K income) is lower for the unprivileged group compared to the privileged group.
Specifically, the unprivileged group has a 19.02% lower chance of a favorable outcome compared to the privileged group.

![image.png]()

**Mitigating Bias**

In [16]:
reweighing = Reweighing(unprivileged_groups=unprivileged_group,
               privileged_groups=privileged_group)

In [17]:
reweighing.fit(train_dataset)
dataset_transf_train = reweighing.transform(train_dataset)

In [18]:
metric_transformed_train_dataset = BinaryLabelDatasetMetric(dataset_transf_train,
                                         unprivileged_groups=unprivileged_group,
                                         privileged_groups=privileged_group)

In [19]:
print("The difference in mean outcomes (statistical parity difference) between unprivileged and privileged group = %f" % metric_transformed_train_dataset.mean_difference())

The difference in mean outcomes (statistical parity difference) between unprivileged and privileged group = 0.000000

In [ ]:
#todo: LOGISTIC REGRESSION